
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log


.env
.env.local
.env.*.local


logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock


coverage/
.nyc_output/
jest-coverage/
*.lcov


.DS_Store
Thumbs.db


dist/
build/
.cache/
.next/
out/
tsconfig.tsbuildinfo

.idea/
.vscode/
*.swp

tmp/
temp/

dump/

